* {
    box-sizing: border-box;
    text-align: center;
    background: #777
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #ebebeb;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
}

nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
}

section {
    padding: 20px;
    color: #333;
    background: #ccc;
}

#full {
    float: left;
    width: 60%;
    background: #eee;
}

article {
    clear: both;
    height: 200px;
    padding: 20px;
    margin-top: 20px;
    background: #777;
    border: 1px solid #eee;
}

h1 {
    float: down;
    padding: 20px;
    color: #333;
    background: #ccc;
}

p {
    padding: 20px;
    color: #333;
    background: #ccc;
}

aside {
    padding: 20px;
    float: right;
    width: 35%;
    color: #333;
    background: #ccc;
}

footer {
    padding: 20px;
    clear: both;
    color: #333;
    background: #ccc;
}


