* {
    box-sizing: border-box;
    text-align: center;
    background: #777
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #ebebeb;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
}

nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
}

section {
    padding: 20px;
    color: #333;
    background: #ccc;
}

#full {
    float: left;
    overflow: auto;
    width: 60%;
    background: #eee;
}

article {
    clear: both;
    overflow: auto;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
    color: #eee;
    background: #777;
    border: 1px solid #eee;
}

h1 {
    float: down;
    padding: 20px;
    color: #333;
    background: #ccc;
}

p {
    clear: both;
    padding: 20px;
    color: #333;
    background: #ccc;
}

aside {
    padding: 20px;
    float: right;
    width: 40%;
    color: #333;
    background: #eee;
    /* what was that "equal height hack" again? */
    /* Also how to separate? */
}

footer {
    padding: 20px;
    clear: both;
    float: bottom;
    color: #333;
    background: #ccc;
    /* margin-bottom: 20px; ? */
}


