* {
    box-sizing: border-box;
    text-align: center;
    background: #777
}

.container {
    width: 960px;
    margin: 0 auto;
}

body {
    font-size: 24px;
    line-height: 32px;
    color: #ebebeb;
}

header {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
}

nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
}

#full {
    float: left;
    overflow: auto;
    width: 60%;
    background: #eee;
    margin-right: 20px;
}

article {
    clear: both;
    overflow: auto;
    height: 255px;
    padding: 20px;
    margin-top: 20px;
    color: #eee;
    background: #777;
    border: 1px solid #eee;
}

h1 {
    float: down;
    padding: 20px;
    margin-top: 20px;
    color: #333;
    background: #ccc;
}

p {
    clear: both;
    padding: 20px;
    color: #333;
    background: #ccc;
    margin-top: 20px;
}

aside {
    padding: 20px;
    float: right;
    width: 37%;
    color: #333;
    background: #eee;
}

footer {
    padding: 20px;
    clear: both;
    float: bottom;
    color: #333;
    background: #ccc;
}

.clearfix {
    overflow: auto;
}

section, aside {
    height: 350px;
}

